body{
  background: #ECF0F3;
}
header{
  background-color: #ECF0F3;
  box-shadow: -8.38099px -11.90875px 12.64133px 0px rgba(255, 255, 255, 0.2), -8.38099px -13.14297px 14.67762px 0px rgba(255, 255, 255, 0.2), -8.38099px -15.43533px 17.88163px 0px rgba(255, 255, 255, 0.2), -8.38099px -26.40012px 27.23821px 0px rgba(255, 255, 255, 0.2), 12.57148px 14.66673px 18.85723px 0px rgba(209, 217, 230, 0.2), 12.57148px 11.73338px 15.92388px 0px rgba(209, 217, 230, 0.2), 12.57148px 10.05719px 14.24768px 0px rgba(209, 217, 230, 0.2), 12.57148px 22.62867px 28.07631px 0px rgba(209, 217, 230, 0.2);
  text-transform: uppercase;
  position: sticky;
  z-index: 9999;
  top: 0;
  transition: .3s;
}
header h1{
  text-align: center;
}
header ul li a{
  font-weight: bold;
}
.About{
  padding: calc(var(--padding)*3) 0 30vh 0;
}
.tm p{
  padding-bottom: 15px;
}
.tm h2{
  font-size: 70px;
}
.tm h3{
  padding-top: 30px;
  font-size: 50px;
  text-align: right;
}
.profile{
  margin-bottom: 30vh;
}
.profile .pom{
  gap: calc(var(--padding)*3);
}
.profile h2{
  position: absolute;
  text-transform: uppercase;
  font-size: 100px;
  color: var(--white);
  left: 62%; transform: translateX(-50%);
  z-index: -10;
  opacity: .5;
}
.profile .tmi{
  padding-top: calc(var(--padding)*.5);
  /* padding-left: calc(var(--padding)*.5); */
}
.profile .tmi li{
  line-height: 1.8rem;
}
.profile .tmi em{
  display: inline-block;
  font-weight: bold;
  width: 80px;
  color: var(--dark);
}
.profile .souce{
  margin-top: calc(var(--padding)*4);
}
.profile .souce h3{
  padding-bottom: 15px;
  transform: translateX(-2px);
}
.profile .souce h4{
  padding-bottom: calc(var(--padding)*.7);
}
.profile .souce ul{
  padding-bottom: calc(var(--padding)*2);
}
.profile .souce li{
  line-height: 35px;
  margin-left: calc(var(--padding)*.5);
  
}
.profile span{
  display: inline-block;
  width: 120px;
}
.skill{
  margin-bottom: 20vh;
  box-sizing: border-box;
}
.skill h2{
  position: absolute;
  text-align: center;
  font-size: 100px;
  color: var(--white);
  text-transform: uppercase;
  transform: translateX(-10px);
  margin-top: -120px;
  z-index: -10;
  opacity: .5;
}
.skill h3{
  padding-bottom: 15px;
}

.fa-html5{color: #E44C25;} .fa-css3-alt{color: #29A8E0;} .fa-square-js{color: #80C24D;} .fa-code{color: #106BAF;} .fa-php{color: #8993BE;} .fa-react{color: #61DAFC;}

.skill .skill_list,
.skill .skill_lists{
  gap: calc(var(--padding)*1.3);
}
.skill .skill_list li,
.skill .skill_lists li{
  cursor: pointer;
  width: calc(100% / 12);
}
.skill_list li:hover .pic,
.skill_list li.active .pic,
.skill_lists li:hover .pic,
.skill_lists li.active .pic {
  top: -10px;
}
.skill_list li .pic,
.skill_lists li .pic{
  position: relative;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  background-color: #E3E6EC;
  box-shadow: -8.38099px -11.90875px 12.64133px 0px rgba(255, 255, 255, 0.38), -8.38099px -13.14297px 14.67762px 0px rgba(255, 255, 255, 0.45), -8.38099px -15.43533px 17.88163px 0px rgba(255, 255, 255, 0.54), -8.38099px -26.40012px 27.23821px 0px rgba(255, 255, 255, 0.75), 12.57148px 14.66673px 18.85723px 0px rgba(209, 217, 230, 0.48), 12.57148px 11.73338px 15.92388px 0px rgba(209, 217, 230, 0.40), 12.57148px 10.05719px 14.24768px 0px rgba(209, 217, 230, 0.34), 12.57148px 22.62867px 28.07631px 0px rgba(209, 217, 230, 0.67);
  border-radius: 5px;
  transition: .2s;
  top: 0;
}
.skill .skill_list i,
.skill .skill_lists i{
  font-size: 60px;
}
.skill .skill_list i.fa-code{
  font-size: 50px;
}
.skill .skill_list p,
.skill .skill_lists p{
  text-transform: uppercase;
  color: var(--dark);
  font-weight: bold;
  text-align: center;
  padding-top: var(--padding);
}
.program{
  width: 75%;
}
.bar1,
.bar2{
  background-color: aqua;
  margin-right: calc(var(--padding)*1);
}
.web{
  box-sizing: border-box;
}
.web .title{
  text-align: center;
}

.web h2{
  /* position: absolute; */
  text-align: right;
  font-size: 100px;
  color: var(--white);
  text-transform: uppercase;
  transform: translateX(-10px);
  margin-top: -120px;
  z-index: -10;
  opacity: .5;
}
.web .swiper h5{
  text-align: center;
  margin-bottom: 15px;
}
.web ul li{
  list-style-type: disc;
  margin-left: 20px;
}
.web .image{
  width: 80%;
  margin: 0 auto;
}
.web .image a{
  position: relative;
}
/* .web .image a::after{
  content: '';
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background-color: black;
  opacity: 0;
} */
.web .image a:hover::after{
  content: '';
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background-color: var(--black);
  opacity: .2;
  border-radius: 10px;
}
.web .work{
  height: 200px;
  text-indent: -9999em;
  display: block;
  margin-bottom: calc(var(--padding)*1.5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.web .item{
  padding: 90px 15px;
}
.web .item h5{
  font-weight: 500;
}

.web .point{
  text-align: center;
}
.web .point::after{
  content: ' ---';
}
.web .point::before{
  content: '--- ';
}
.web h6{
  padding-bottom: 15px;
}
.web .image{
  padding: 30px;
  border-radius: 5px;
  border: 1px solid #bbcada;
  /* background-color: #E3E6EC; */
  /* box-shadow: -8.38099px -11.90875px 12.64133px 0px rgba(255, 255, 255, 0.38), -8.38099px -13.14297px 14.67762px 0px rgba(255, 255, 255, 0.45), -8.38099px -15.43533px 17.88163px 0px rgba(255, 255, 255, 0.54), -8.38099px -26.40012px 27.23821px 0px rgba(255, 255, 255, 0.75), 12.57148px 14.66673px 18.85723px 0px rgba(209, 217, 230, 0.48), 12.57148px 11.73338px 15.92388px 0px rgba(209, 217, 230, 0.40), 12.57148px 10.05719px 14.24768px 0px rgba(209, 217, 230, 0.34), 12.57148px 22.62867px 28.07631px 0px rgba(209, 217, 230, 0.67); */
}
.web .image .work{
  border-radius: 10px;
}
.web .image .work:hover{
  transform: scale(1.01);
  transition: .3s;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev{
  /* display: none; */
  right: 0;
  color: #717C98;
  font-weight: bold;
  /* top: var(--swiper-navigation-top-offset,40%); */
  top: 60px;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next{
  display: none;
  left: 15%;
  color: black;
  font-weight: bold;
  /* top: var(--swiper-navigation-top-offset,40%); */
}
.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal{
display: none;
}



.design .container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffeead;
}

.design .container > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.design .container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 215px;
  grid-auto-flow: dense;
}

.design .inhorizontal {
  grid-column:span 3;
}
.design .horizontal {
  grid-column:span 2;
}
.design .vertical{
  grid-row:span 2;
}
.design .big {
  grid-column:span 2;
  grid-row:span 2;
}




.contact{
  text-align: center;
  margin-bottom: 120px;
}
.contact h3{
  font-size: 100px;
}
.contact h4{
  font-weight: bold;
}
.contact i{
  margin-right: 10px;
}